<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GymPoint</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #f6f6f6;
        }
    </style>
</head>

<body>
    <div class="wrapper"
        style="display: block; width: 100%; height: 100%; margin: 0 !importante; padding:20px; font-family: Arial, Helvetica, sans-serif; color: #666 !important; font-size: 16px; line-height: 1.5; }">
        <div class="wrapper-inner"
            style="display: block; margin: 20px auto; max-width: 600px; width: 90%; background-color: #fff; padding: 20px; }">

            {{{ body }}}
            {{> footer}}
        </div>
    </div>
</body>

</html>