<p style="display: block; margin-top:50px">
    <span style="display: block; width: 60px; border-bottom: 2px solid #EE4D64; margin-bottom: 10px;"></span>
    <i>
        Kind regards,<br />
        <strong style="color: #EE4D64">Team GymPoint</strong>
    </i>
</p>