<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .logo-wrapper {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .logo-wrapper img {
        width: 120px;
        height: auto;
    }

    h4 {
        display: block;
        margin-top: 40px;
        margin-bottom: 0px;
        text-align: center;
        padding: 10px 20px;
        background-color: #ee4d64;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
    }
</style>

<div class="logo-wrapper">
    <img src="cid:logo" alt="GymPoint" />
</div>
<h2 style="color: #EE4D64; margin-bottom: 40px;">Hello {{student}},</h2>

<p>Your help request was answered by our team. Check it out!</p>
<br>
<p style="text-align: justify;">
    <strong style="color: #EE4D64">Question </strong>
    <small style="color: #aaa; font-size: 12px;">{{questioned_at}} </small> <br>
    <i>{{question}}</i>
</p>
<br>
<p style="text-align: justify;">
    <strong style="color: #EE4D64">Answer </strong>
    <small style="color: #aaa; font-size: 12px;">{{answered_at}} </small> <br>
    <i>{{answer}}</i>
</p>
<br>
<br>
<p>
    If you need further help, please, just let us know!
</p>