<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .logo-wrapper {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .logo-wrapper img {
        width: 120px;
        height: auto;
    }

    h4 {
        display: block;
        margin-top: 40px;
        margin-bottom: 0px;
        text-align: center;
        padding: 10px 20px;
        background-color: #ee4d64;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
    }
</style>

<div class="logo-wrapper">
    <img src="cid:logo" alt="GymPoint" />
</div>
<h2 style="color: #EE4D64; margin-bottom: 40px;">Hello {{student}},</h2>

<p>We would like to welcome you to the <strong>GymPoint</strong> family.</p>
<p style="text-align: justify;">
    You were successfuly enrolled. Starting on
    <strong>{{start}}</strong> you can start your healthier way of life. The plan
    you choose was the <strong>{{plan}}</strong> plan, with a monthly payment of
    <strong>US$ {{price}} (total: US$ {{total}})</strong> with a
    <strong>{{duration}} months duration (until {{end}})</strong>.
</p>

<h4>GymPoint Tips</h4>
<ol style="background-color: #f6f6f6; margin: 0; padding: 20px 20px 20px 40px">
    <li>Don´t forget to get a medical clearance to pratice sports</li>
    <li>Bring your towel, so we keep our equipments always clean</li>
    <li>
        We do have few water fonts, but feel free to bring your own bottle
    </li>
    <li>
        If you do have any questions, our instructors are always around to help you
    </li>
</ol>